<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>bird_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal1_btn0.png</string>
            <key>size</key>
            <string>{125,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f723a38578e3fae5ef1c711f3f32f451:73c5078d6ba230fc13ac3ab78ba43c61:c5e3d8adce10f2bfc7b5ef25d763331b$</string>
            <key>textureFileName</key>
            <string>animal1_btn0.png</string>
        </dict>
    </dict>
</plist>
