<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>olw_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,132}}</string>
                <key>sourceSize</key>
                <string>{111,132}</string>
            </dict>
            <key>olw_brow.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{70,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,8}}</string>
                <key>sourceSize</key>
                <string>{70,8}</string>
            </dict>
            <key>olw_xuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{179,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,153}}</string>
                <key>sourceSize</key>
                <string>{179,153}</string>
            </dict>
            <key>owl_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{66,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,17}}</string>
                <key>sourceSize</key>
                <string>{66,17}</string>
            </dict>
            <key>owl_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{186,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,166}}</string>
                <key>sourceSize</key>
                <string>{186,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal3_btn0.png</string>
            <key>size</key>
            <string>{190,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d530e871d0620337dd9e96c9437d95e:e73a822e68938b54da86f3619e7b2fee:1b2b5c03c812a835c394f0cc754fd823$</string>
            <key>textureFileName</key>
            <string>animal3_btn0.png</string>
        </dict>
    </dict>
</plist>
