<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DW_0000_baozha_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,195}}</string>
                <key>sourceSize</key>
                <string>{194,195}</string>
            </dict>
            <key>DW_0001_shandina1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{195,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,162}}</string>
                <key>sourceSize</key>
                <string>{195,162}</string>
            </dict>
            <key>DW_0002_shandina2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{204,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,216}}</string>
                <key>sourceSize</key>
                <string>{204,216}</string>
            </dict>
            <key>DW_0003_shandina3.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{261,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,245}}</string>
                <key>sourceSize</key>
                <string>{261,245}</string>
            </dict>
            <key>DW_0004_baiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DW_effects0.png</string>
            <key>size</key>
            <string>{987,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:563a0b13032f37c85cb5e9eff782ce95:87e385de76d48acf0790b50cb02feb12:fbc93152909e3988cbb80a5fb31b3ee7$</string>
            <key>textureFileName</key>
            <string>DW_effects0.png</string>
        </dict>
    </dict>
</plist>
