<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lanniao_sc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>lanniao_sc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lanniao_baozha0.png</string>
            <key>size</key>
            <string>{314,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c5a3c4d2759b035fe87df2197d82b99:9c8798ac50abff0ef48552f758eb584f:16f7f7385a9dbc7c218e449de1bc69de$</string>
            <key>textureFileName</key>
            <string>lanniao_baozha0.png</string>
        </dict>
    </dict>
</plist>
