<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YL_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>YL_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>YL_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>YL_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{131,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,118}}</string>
                <key>sourceSize</key>
                <string>{131,118}</string>
            </dict>
            <key>YL_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>YL_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,212},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YL_btn0.png</string>
            <key>size</key>
            <string>{135,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5717a6ae1626c7e7dfef6d6ddc6c8ee3:4830b2f050eda552a000804809bb4f53:8cf56511b3429c0ed8d4d2840172f2f8$</string>
            <key>textureFileName</key>
            <string>YL_btn0.png</string>
        </dict>
    </dict>
</plist>
